.beneficios {
  padding-top: 1rem
}
.col-icono-usuario {
}
.icono-usuario {
  width: 70%;
}
.nombre-usuario {
  padding-top: 40px;
  padding-left: -20px;
  text-align: left
}
.emblemas {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: #C4C4C4 1px solid
}
.emblema {
  width: 65%;
}
.emblema-semilla {
  border: #A9EE39 2px solid;
  border-radius: 50%
}
.col-izquierda {
  text-align: right
}
.col-centro {
  padding: 0 10px
}
.col-derecha {
  text-align: left
}
.fila-progreso {
  margin-top: 2rem
}
.segundo-contenedor {
  padding-bottom: 1rem
}
.contenedor-cuenta-atras {
  border-top: 1px solid #cacaca;
  padding-top: 1rem
}
.barra-progreso {
  border-radius: 105px;
  border: 2px solid #43A422;
  width: 80%;
  height: 22px;
}
.barra-progreso::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 105px;
  
}
.barra-progreso::-webkit-progress-value {
  border-radius: 105px;
  /*   border-top-left-radius: 105px;
  border-bottom-left-radius: 105px; */
  background-color: #a4d095;
}
.barra-progreso::-moz-progress-bar {
  background-color: #ffffff;
  border-radius: 105px;
}
.col-nombre-nivel {
padding-left: 3rem
}
.col-gana-mas {
  text-align: right;
}
.a-gana-mas {
  color: #43A422 !important;
  margin-right: 2rem
}
.btn-promociones {
  background-color: #43A422;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px
}
