.beneficios {
  padding-top: 1rem
}
.col-nombre {
  position: relative;
  text-align: left;
  padding: 0;
}
.col-icono-usuario {
}
.icono-usuario {
  width: 60%;
}
.nombre-usuario {
  margin: 0%;
  position: absolute;
  top: 48%  
}
.emblemas {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: #C4C4C4 1px solid;
}
.emblema {
  width: 65%;
}
.emblema-semilla {
  border: #A9EE39 2px solid;
  border-radius: 50%
}
.col-izquierda {
  text-align: right
}
.col-centro {
  padding: 0 10px
}
.col-derecha {
  text-align: left
}