.bienvenida {
  padding-top: 1rem;
}
#headerB{
    margin-top: 6px;
    overflow: hidden;
	height: auto;
	
}
.hashtag{
    border-radius: 10px;
    background-color: #3E9920;
    color: #ffffff;
    align-content: center;
    padding-top:1px;
    margin-top: 10px;
    height: 30px;
 
}
.logouber{
    padding-top: 5%;
    width: 50px;
    height: auto;
}
.carruselB{
    margin-top: 35px;
   background-color:#ffffff;
}
.textCarrousel{
    color:black;
}

.bienvenido{
font-family: ABeeZee;
font-style: italic;
font-weight: normal;
font-size: 44px;
line-height: 52px;
text-align: center;
letter-spacing: -0.28px;

color: #3E9920;
margin-top:20px;

}
/* .btnVerde{
 width: 168px;
height: 49px;
left: 213px;
top: 195px;
background-color: #3E9920;
color:#ffffff;
font-family: ABeeZee;
font-style: italic;
font-weight: normal;
border-radius: 5px;
} */
.btnVerde {
  background-color: #43A422;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 6px 20px;
  margin-top: 1rem;
  border-bottom: #257615 solid 4px
}
.btnVerde:hover {
  border-top: #257615 solid 1px;
  border-bottom: #257615 solid 2px
}
.carousel-inner > .item > img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
  }
/* .carousel-control-next-icon::after{
    background-color: black;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #3E9920;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #3E9920;
}
