.inicio {
  text-align: left
}
.carousel {
  border-bottom: solid #F6F6F6 7px
}
.texto-inicio {
  margin-left: 1rem
}
.titulo-ofertas {
  margin-top: 1rem;
}
.p-inicio {
  color: #545454;
  margin-top: -10px
}