.usuario-seccion{
    display: flex;
    flex-direction: column;
}

.usuario-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.usuario-linetwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-style: outset;
}

.usuario-name, .usuario-photo{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.usuario-heart, .usuario-fav{
    display: flex;
    flex-direction: column;
}

.usuario-fav p{
    margin: auto;
    margin-left: 10px;
}

.usuario-photo img{
    width: 50px;
}