.usuario-seccion{
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.usuario-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.usuario-linetwo,.usuario-hamburger, .usuario-config, .usuario-promo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
}

.usuario-promo{
    background-color: lightgray;
}

.usuario-name, .usuario-photo{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.usuario-heart, .usuario-fav, .usuario-trophy{
    display: flex;
    flex-direction: column;
}

.usuario-fav p{
    margin: auto;
    margin-left: 10px;
}

.usuario-photo img{
    width: 50px;
}

.usuario-trophy img{
    width: 40px;
    margin-left: 4px;
}

.usuario-heart img{
    width: 50px;
}

.usuario-hamburger{
    border-bottom-style: groove;
    border-bottom-color: greenyellow;
    background-color:#e8f6e5;
    color:#3E9920;
}
.usuario-config{
    border-bottom-style: groove;
    border-bottom-color: greenyellow;
}