.restaurantes {
    padding-bottom: 4rem 
}
.restaurant-img{
    align-self: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.restaurant-card img{
    width: 99%;
}

.fa-star{
    font-size: 12px;
    color: darkorange;
}

.fa-circle{
    font-size: 5px;
}
.restaurante-sustentable {
    padding: 0 !important
}
.restaurant-card{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.39);
}

.restaurant-img, .restaurant-name, .restaurant-type, .restaurant-time, .restaurant-points, .restaurant-number, .restaurant-eco{
    display: flex;
    flex-direction: row;
}

.restaurant-eco{
    align-items: baseline;
}

.restaurant-ico, .restautant-word{
    display: flex;
    flex-direction: column;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 10px;
}

.restaurant-time, .restaurant-points{
    background-color: gainsboro;
    margin-right: 10px;
    padding: 3px;
    
}

.restaurant-type{
    align-items: center;
}
.restaurant-time{
    margin-right: 10px;
}

.restaurant-points{
    align-items: center;
}
a {
    color: #212529
}

.fa-leaf{
    color: green;
    font-size: 12px;
}